.flag-conten{
    width: 500px;
    display: block;
    border: 1rem solid gold;
    margin: auto;
}
.part2{
    background-color: red;
    height: 200px;
}
.part1,.part3{
    height: 100px;
    background-color: blue;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
.man{
  
    display: inline;
    border: 1rem solid red;
    float: inline-end;
    text-align: center;
}
.c1{
    float: right;
}
.wat{
    display: inline;

}
.c2{
    float: right;
}